body {
            font-family: 'Inter', sans-serif;
            background-color: #fbf8ef;
        }

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .skill-tag {
            border-width: 1px;
            font-size: 10px;
            padding: 2px 8px;
            border-radius: 9999px;
            background-color: white;
            font-weight: 500;
        }

        .nav-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            width: 20%;
            cursor: pointer;
        }